# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# 
# Tue Jun 18 20:51:18 EDT 2013
allowDebugOutput=false
allowUpdateCheck=true
checksum=1wk
